.contact_container_box {
  padding: 5rem 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map_image {
  width: 100vw;
  height:60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map_image > .location_map {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;

}
.contact_details_container_box_resposive {
  display: none;
}

@media only screen and (max-height: 600px)
{  .contact_details_container_box_resposive {

  gap:5rem;
}
/* .map_image {
  width: 100vw;
  height:40vh;

} */
  
}


@media (min-width: 560px) and (max-width: 1200px) {
  .map_image {
    width: 100vw;
    height:30vh ;
  }
  .contact_details_container_box_resposive {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 90vw;
  }
  .phone_email {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    width: 80%;
  }
  .contact_details_container_box {
    display: none !important;
  }
  #contact_address {
    width: 100%;
  }
  .contact_details_container {
  
    padding: 5rem 50px;
  }
}
.contact_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.contact_container:hover {
  cursor: pointer;
}
.contact_details_container {
  width: 100vw;
  background-color: #f7f7f7;
  padding: 5rem 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.contact_details_container_box {
  display: flex;
  align-items: center;
  gap:7rem;
}
.contact_icon,
.contact_detail {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact_icon > h3 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: var(--main-color);
  text-transform: capitalize;
  font-weight: 500;
}
.contact_detail > h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  font-family: "Roboto", sans-serif;
}
.contact_detail {
  flex-direction: column;
  align-items: flex-start;
  width: 22vw;
  height: 10vh;
}
.contact_detail > p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  color: #000000;
}
.contact_icon_box {
  width: 60px;
  height: 60px;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

@media (max-width: 560px) {
  .contact_container_box {
    padding: 3rem 30px;
  }
  .map_image {
    width: 100vw;
    height:20vh ;
  }
  .contact_icon,
  .contact_detail {
    gap: 0.5rem;
  }
  .contact_details_container {
    padding: 4rem 50px;
  }
  .contact_details_container_box {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 0;
  }
  .contact_detail {
    flex-direction: column;
    align-items: flex-start;
    width: 78vw;
    height: 10vh;
  }
  .contact_icon > h3 {
    font-size: 26px;
  }
  .contact_detail > p {
    font-size: 16px;
  }
  .contact_icon_box {
    width: 40px;
    height: 40px;
  }
  .contact_container {
    gap: 1rem;
  }
}
