* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #714E4E;
}
body{
  font-family: 'Inter', sans-serif;
}


.header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle_icon {
  width: 28px;
  height: 28px;
  display: none;
}
.nav_sec {
  display: flex;
  gap: 3rem;
}
@media (max-width: 560px) {
  .toggle_icon {
    display: initial;
  }
  .nav_sec {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {


  .toggle_icon {
    display: initial;
  }
  .nav_sec {
    display: none !important;
  }
}

.nav_sec > .nav_link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.nav_sec > .nav_link  :hover{
color:#714e4e;
cursor: pointer;
}
.service_container{
  width:267px;
  height:201px;
  border-radius: 1px 1px 0 0;
  position: absolute;
  z-index:1000;
  top:5rem;
  right:25rem;
  background: #F7F7F7;
  flex-direction: column;
  padding:15px 10px;
}


.Off_service_container{
  width:267px;
  height:201px;
  border-radius: 1px 1px 0 0;
  display: flex;
  z-index:1000;
  background: #F7F7F7;
  flex-direction: column;
  padding:15px 10px;
}
.Off_service_container > .Off_services{
display:flex;
justify-content: space-between;
padding:10px 10px;
align-items: center;
}
.Off_service_container > .Off_services > h3{
  font-weight: 400;
  font-size:16px;
}
.service_container > .services{
display:flex;
justify-content: space-between;
padding:10px 20px;
align-items: center;
}
.service_container > .services >h3{
  font-size: 14px;
  font-weight:500;
  line-height: 16.94px;
  color:#000000;
  font-family: 'Inter',sans-serif;
  text-transform: capitalize;
}
.service_container > .services >h3:hover{
  cursor: pointer;
}
.offcanvas_container{
  padding:2rem 1rem;
}
.offcanvas_lists{
  margin-top:2rem;
  display: flex;
  flex-direction: column;
  gap:1rem;

}
.offcanvas_lists:hover{
  cursor: pointer;
}
.off_service{
  display: flex;
  align-items: center;
  gap:10px;
}
button,.a_link  {
  width: 165px;
  height: 42px;
  border-radius: 8px;
  border: none;
  text-transform: capitalize;
  color: #fff;
  background-color: var(--main-color);
}
button,.a_link :hover{
  cursor: pointer;
}
.banner {
  width:100vw;
  position: relative;
  background-image:url('../assets/banner.svg') ;
}
.res_banner{
  background-image: url("../assets/res_banner.svg");
  display: none;
}
.content {
  padding: 7rem 50px;
  display: flex;
  z-index:1000;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  justify-content: center;
  z-index: 100;
}
.content_text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.content_text > h3 {
  font-size: 48px;
}
.content_text > p {
  font-size: 20px;
  width:500px;
  line-height: 23.44px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@media (max-width: 560px){
  .header {
    padding: 20px 30px;
  
  }
  .res_banner {
    display:block;
  }
  .banner {
    display: none !important;
  }
  .content_text {
    gap: 1rem;
  }
  .content_text > h3 {
    font-size: 28px;
  }
  .content_text > p {
    font-size: 14px;
    width:280px !important;

  }
  .content {
    padding: 3rem  0  30px 30px;
    gap:1.5rem;
  }
  button {
    width: 148px;
    height: 38px;
  
  }
}

.achivement_container {
  padding: 10rem 50px;
  /* margin-top: 40rem; */
  height: 178px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.achivement_container > .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.achivement_container > .text > h3 {
  font-size: 40px;
  list-style: 48.41px;
  font-weight: 600;
  color: #000000;
}
.achivement_container > .text > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  font-family: "Roboto", sans-serif;
}
.achivement_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 3rem;
}
.achivements {
  display: grid;
  grid-template-columns: 4.5rem auto auto;
  justify-items: start;
}
.achivements .box {
  grid-area: 1/1/3/2;
  width: 60px;
  height: 60px;
  display: flex;
  background-color: var(--main-color);
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.achivements > .counts {
  grid-area: 1/2/2/4;
  justify-content: start;
  text-align: left;
  color: #714E4E;

}
.achivements > .about {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 17.58px;
}

@media (max-width: 768px){
  .achivement_container {
    padding: 5rem 30px !important;
    height: 430px;
    gap:3rem !important;
    flex-direction: column;
    align-items:flex-start;
  }

  .achivement_container > .text > h3 {
    font-size: 36px !important;
  
  }
  .achivements {
    grid-template-columns: 4.5rem auto auto;
  }
  .achivement_container > .text > p {
    font-size:16px !important;
  }
  .achivements .box {
    width: 60px;
    height: 60px;
   
  }
  .achivements > .counts {
    grid-area: 1/2/2/4;
    justify-content: start;
    text-align: left;
  }
  .achivements > .about {
    font-size: 14px !important;
  }
  .achivement_grid {
    gap: 2rem;
  }
}
@media (max-width: 560px){
  .achivement_container {
    padding: 5rem 30px !important;
    height: 430px;
    gap:0 !important;
    flex-direction: column;
    align-items:flex-start;
  }

  .achivement_container > .text > h3 {
    font-size: 28px !important;
  
  }
  .achivements {
    grid-template-columns: 3.4rem auto auto;
  }
  .achivement_container > .text > p {
    font-size:12px !important;
  }
  .achivements .box {
    width: 45px;
    height: 45px;
   
  }
  .achivements > .counts {
    grid-area: 1/2/2/4;
    justify-content: start;
    text-align: left;
  }
  .achivements > .about {
    font-size: 12px !important;
  }
  .achivement_grid {
    gap: 1rem;
  }
}
.core_values_container {
  padding: 5rem 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  overflow-x: hidden;

}

.core_values_container > h3 {
  font-size: 36px;
  font-family: "inter", sans-serif;
  font-weight: 600;
  line-height: 43.57px;
  color: #000000;
}

@media (max-width: 560px) {
  
  .core_values_container {
    align-items: flex-start;
    height: 230px;
    padding:2rem 5rem 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .core_values_container > h3 {
    font-size: 28px !important;
  }
  .animation_scroll > div {
    height: 33px !important;
  }
.animation_scroll {
    gap: 3rem !important;

  }

}
.core_values {
  white-space: nowrap; 
  width:90vw;
  padding: 10px; 
}
.animation_scroll {
  display:flex; /* Enables flex layout */
  gap: 10rem;
  animation: scroll 15s linear infinite; 
}
@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animation_scroll > div {
  height: 48px;
  padding: 0 50px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #463333;
  background-color: #d9d9d9;
  text-transform: capitalize;
  display: flex; /* Ensures content is centered vertically */
  align-items: center; /* Centers content vertically */
  font-family: "Inter", sans-serif; /* Correct font-family */
}
.virtual_construction_contianer {
  /* margin-top:5rem; */
  height: 1022px;
  width:100vw;
  background-color: #f7f7f7;
  padding: 5rem 0px;
}

.virtual_construction_box {
   display: flex;
  flex-direction: column; 
  padding: 20px 50px;
}
@media (max-width:1200px){
  .virtual_construction_cards {
    height: 400px;
    overflow-x: auto;
    margin-top: 3rem !important;
    gap: 2rem !important;
  }
}
@media (max-width: 767px) {
  .virtual_construction_title {
    align-items: flex-start !important;
  }
  .virtual_construction_contianer {
    height: 800px;
    padding: 5rem 0px;
  }

.virtual_construction_box {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}

  .virtual_construction_title > P {
    text-align: left !important;
    font-size: 12px !important;
  }

  .virtual_construction_title > h3{
    font-size: 28px !important;
  }
  .card-body > .card-title {
    font-size:20px !important;
  }
  .card-img-top {
    width: 250px !important;
  }
  .virtual_construction_cards {
    height: 400px;
    overflow-x: auto;
    margin-top: 3rem !important;
    gap: 2rem !important;
  }

  .card-body > p{
    width:250px !important;
  }
}

.virtual_construction_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.virtual_construction_title > h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 43.57px;
}
.virtual_construction_title > p {
  text-align: center;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #000000;
}
.virtual_construction_cards {
  display: grid;
  grid-template-columns:auto auto auto auto;
  gap: 2.2rem;
  margin-top: 5rem;
}
.virtual_construction_cards > .cards > img {
  height: 219px;
  border-radius: 8px;
}
.card-img-top {
  width: 300px;
}
.card-body {
  width: 300px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}
.card-body > .card-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 29.05px;
  color: #714e4e;
  text-transform: uppercase;
}
.card-body > .card-text {
  text-align: justify;
  font-size: 14px;
  width: 300px;
  line-height: 18.75px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #000000;
}
.build_container {
  height: 464px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: #714e4e;
}
.build_container > .virtual_construction_title > h3 {
  font-size: 36px;
  font-weight: 600 !important;
  font-family: "Inter", sans-serif !important;
  margin-top: 4rem;
}
.build_container > .virtual_construction_title > p {
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  line-height: 19px;
}
.build_container > .image {
  width: 100vw;
  height: 184px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .build_container > .image {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem !important;
  }
  .build_container {
    height: 400px !important;
    padding:0 30px !important;
  }
  
  .build_container > .image > img {
    width: 100% !important;
    height: 100px;
    margin-top: -3rem;
    border-radius: 10px;
  }

  .build_container > .virtual_construction_title > h3{
    font-size:28px !important;
    text-align: center;
  }
  .build_container > .virtual_construction_title > p {
    font-size: 12px;
    text-align: center !important;
  }
}
.build_container > .image > img {
  max-width: 90vw;
  border-radius: 10px;
}

.client_words {
  display: flex;
  flex-direction: column;
  gap:4rem;
  padding: 5rem 50px;
}

.client_words_container > h3 {
  text-align: center !important;
  font-size: 36px ;
  line-height: 43.57px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.client_container {
  display: grid;
  grid-template-columns:auto auto auto auto;
  gap: 2.2rem;
}


@media (max-width: 1200px){
  .client_container {
    overflow-x: auto !important;
    gap: 2rem !important;
  }
}
@media (max-width: 768px){
  .client_container {
    overflow-x: auto !important;
    gap: 2rem !important;

  }


  .client_words_container > h3{
    text-align: left !important;
    font-size: 28px;
  }
  .clients_grid > p{
    font-size: 12px !important; ;
  }
  .clients_grid > h3{
    font-size: 16px !important;
  }
 .about_client{
  font-size: 12px !important;
 }
.client_words{
  padding: 4rem 30px;
  gap:2rem;
}
  
  .footer_container {
    padding: 5rem 30px 0 !important;
  }
}
.about_client {
  text-align: justify !important;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18.75px;
}
.clients_grid {
  display: grid;
  grid-template-columns: 4.5rem auto auto;
}
.clients_grid > img {
  grid-area: 1/1/3/2;
}
.clients_grid > h3 {
  grid-area: 1/2/2/4;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 30px;
  color: #714e4e;
}
.clients_grid > p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18.75px;
  color: #6a5b5b;
}
.footer {
  height: 483px;
  background-color: #897070;
}

.footer_container {
  display: flex;
  flex-direction: column;
  padding: 5rem 50px 0;
  color: white;
}
.footer_logo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer_logo_container {
  width: 217px;
}
.footer_logo_container > img {
  max-width: 100%;
}
.footer_logo > p {
  width: 50vw;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18.75px;
}
.contact_detail_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
.contact-Container {
  text-align: right;
  display: flex;
  gap:1rem;
  flex-direction: column;

}

.contact-Container > p {
  margin-bottom: 1rem;
}
.contact-Container > a{
  text-decoration: none !important;
  color:#fff;

}
.contact-Container>.address{
  width:20vw;
}
.contact-Container>.address:hover{
  cursor: pointer;
}
.nav-Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equally spaced columns */
  grid-gap: 1.4rem;
  column-gap: 1.5rem;
}
.nav-Container >a{
  text-decoration: none !important;
  color:#fff;
}
.nav-Container > p {
  margin: 0; /* To avoid extra spacing caused by default paragraph margins */
}

.nav-Container > p:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.nav-Container > p:hover{
  cursor:pointer
}
.nav-Container > p:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  margin-left: -1rem;
}

.nav-Container > p:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
}

.nav-Container > p:nth-child(4) {
  grid-column: 4;
  grid-row: 1;
}

.nav-Container > p:nth-child(5) {
  grid-column: 1 / 3; /* This spans across the first and second columns */
  grid-row: 2;
}

.nav-Container > p:nth-child(6) {
  grid-column: 3 / 5; /* This spans across the third and fourth columns */
  grid-row: 2;
  margin-left: -3rem;
}
.term_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.terms {
  display:flex;
  gap: 3rem;
  align-items: center;
}
.powered_container {
  width: 96px;
  height: 63px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.powered_container > p {
  margin-left: 1rem;
}
.powered_container > img {
  max-width: 100%;
}
.res_term_details {
  display: none;
}
@media (min-width: 320px) and (max-width: 560px){
 
 
  .footer {
    height: 725px;
  }
  .footer_logo > p {
    width:70vw;
    height:28px;
    font-size: 12px !important;
  }
  .footer_container{
    gap:1.4rem;
  }
  .footer_logo_container {
    width: 172px;
  }
  .contact-Container > p {
    font-size:14px !important;

  }
  .nav-Container>p{
    font-size:14px !important;
  }
  .footer_container {
    align-items: flex-start;
    flex-direction: column;
  }
  .contact_detail_container {
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start !important;
  }
  .contact-Container {
    text-align: left !important;
  }
  .contact-Container>.address{
    width:70vw;
  }
  .term_details {
    display: none;
  }
  .responsive_terms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .powered_container {
    width: 55px !important;
    height: 50px !important;
    
  }
  .responsive_terms > p {
    font-size: 10px !important;
  }
  .terms>p{
    font-size: 10px !important;

  }
  .res_term_details {
    display: flex;
    margin-top: 1rem;
    align-items: center;
  }
  hr {
    z-index: 100 !important;
    width: 100%;
  }
  .nav-Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 equally spaced columns */
    align-items: start !important;
    justify-content: start !important;
    row-gap: 1.4rem !important;
  }

  .nav-Container > p {
    margin: 0; /* To avoid extra spacing caused by default paragraph margins */
  }

  .nav-Container > p:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .nav-Container > p:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    margin-left: 0.01rem !important;
  }

  .nav-Container > p:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }

  .nav-Container > p:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
  }

  .nav-Container > p:nth-child(5) {
    grid-column: 2 / 3; /* This spans across the first and second columns */
    grid-row: 1;
  }

  .nav-Container > p:nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 2;
    margin-left: 0.01rem !important;
  }
}
@media (max-width: 1100px){
  .responsive_terms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width:72vw;
  }
  .term_details {
    display: none;
  }
  .powered_container {
    width: 100px;
    position: absolute;
    right:2rem;
  }
  .responsive_terms > p {
    font-size: 14px;
  }
  .terms>p{
    font-size: 14px ;

  }
  .res_term_details {
    display: flex;
    margin-top: 1rem;
    align-items: center;
  }
  hr {
    z-index: 100 !important;
    width: 100%;
  }
}